<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>Quick links</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="{% url 'homepage:index' %}"><i class="fas fa-home"></i>Accueil</a></li>
                    <li><a href="{% url 'homepage:events' %}"><i class="far fa-calendar-alt"></i>Evènements</a></li>
                    <li><a href="{% url 'homepage:staff' %}"><i class="fas fa-users"></i>L'équipe</a>
                    </li>
                    <li><a href="{% url 'homepage:about' %}"><i class="fas fa-info"></i>En savoir plus</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-8">
                <h5>CoderDojo?</h5>
                <p><span>CoderDojo is a global volunteer-led community of free programming clubs for young people between 7 and 17. The movement is a grassroots organisation with individual clubs (called "Dojos") acting independently. A charity called the CoderDojo Foundation operates out of Dublin and supports the various clubs by providing a central website and some other support services. Supporters of CoderDojo believe it is part of the solution to addressing the global shortage of programmers by exposing young people to ICT at a young age. The movement has seen significant growth since its founding. The CoderDojo Foundation estimates 1,250 Dojos spread across 69 countries, with a growth rate of several new Dojos every week.</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="https://www.twitter.com/CoderDojoParis"><i
                            class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="mailto:paris.fr@coderdojo.com" target="_blank"><i
                            class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p><u><a href="http://coderdojoparis.com/">CoderDojo Paris</a></u></p>
                <p class="h6">&copy All right Reversed.</p>
            </div>
            <hr>
        </div>
    </div>
</section>